/* Cor do cabeçalho (Header) */
.md-header {
    background-color: #0c1117 !important; /* Fundo Preto Profundo */
    border-bottom: 2px solid #40E0D0 !important; /* Linha Turquesa */
}

/* Cor das abas de navegação superior (Tabs) */
.md-tabs {
    background-color: #0c1117 !important;
}

/* Ajuste da cor do texto no cabeçalho */
.md-header__title {
    color: #40E0D0 !important; /* Título Turquesa */
    text-shadow: 0 0 5px rgba(64, 224, 208, 0.3);
}

.md-tabs__link {
   color: #c9d1d9 !important; /* Texto cinza claro */
   transition: color 0.3s;
}

.md-tabs__link--active, .md-tabs__link:hover {
   color: #40E0D0 !important; /* Turquesa no hover/ativo */
}

/* Fundo Geral do Site */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #0d1117;
    --md-default-fg-color: #c9d1d9;
    --md-accent-fg-color: #40E0D0;
}